{
  "branches": [
    "main"
  ],
  "plugins": [
    "@semantic-release/changelog",
    "@semantic-release/npm",
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "angular",
        "releaseRules": "./config/release-rules.cjs",
        "parserOpts": {
          "noteKeywords": ["BREAKING CHANGE", "BREAKING CHANGES"]
        }
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
       "writerOpts": "./config/release-notes"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "package.json",
          "yarn.lock",
          "CHANGELOG.md"
        ],
        "message": "chore(release): ${nextRelease.version}\n\n${nextRelease.notes}"
      }
    ]
  ],
  "preset": "angular"
}